{
  "id": "{{service.name}}",
  "cpus": 1.0,
  "mem": 1230,
  "instances": 1,
  "cmd": "export PATH=$(ls -d $MESOS_SANDBOX/jre*/bin):$PATH && ./scheduler/bin/kafka-scheduler server ./scheduler/conf/scheduler.yml",
  "labels": {
    "DCOS_PACKAGE_FRAMEWORK_NAME": "{{service.name}}",
    "DCOS_MIGRATION_API_VERSION": "v1",
    "DCOS_MIGRATION_API_PATH": "/v1/plan",
    "MARATHON_SINGLE_INSTANCE_APP":"true",
    "DCOS_SERVICE_NAME": "{{service.name}}",
    "DCOS_SERVICE_PORT_INDEX": "0",
    "DCOS_SERVICE_SCHEME": "http"
  },
  "env": {
    "LD_LIBRARY_PATH": "/opt/mesosphere/lib",
    "FRAMEWORK_NAME": "{{service.name}}",
    "FRAMEWORK_PRINCIPAL": "{{service.principal}}",
    "USER": "{{service.user}}",
    "PLACEMENT_STRATEGY": "{{service.placement_strategy}}",
    "PHASE_STRATEGY": "{{service.phase_strategy}}",
    "DISK_TYPE": "{{brokers.disk_type}}",
    "KAFKA_VER_NAME": "kafka_2.11-0.10.0.0",
    "EXECUTOR_URI": "{{resource.assets.uris.executor-zip}}",
    "JAVA_URI": "{{resource.assets.uris.jre-tar-gz}}",
    {{#service.secret_name}}
    ,"DCOS_SERVICE_ACCOUNT_CREDENTIAL": { "secret": "serviceCredential" },
    "MESOS_MODULES": "file:///opt/mesosphere/etc/mesos-scheduler-modules/dcos_authenticatee_module.json",
    "MESOS_AUTHENTICATEE": "com_mesosphere_dcos_ClassicRPCAuthenticatee",
    "SSL_CERT_FILE": "/run/dcos/pki/tls/certs/scheduler.crt",
    "SSL_KEY_FILE": "/run/dcos/pki/tls/private/scheduler.key",
    "SSL_CA_FILE": "/run/dcos/pki/CA/certs/ca.crt",
    "SSL_ENABLED": "true"
    {{/service.secret_name}}
  },
  {{#service.secret_name}}
  "secrets": {
    "serviceCredential": {
      "source": "{{service.secret_name}}"
    }
  },
  {{/service.secret_name}}
  "uris": [
    "{{resource.assets.uris.jre-tar-gz}}",
    "{{resource.assets.uris.scheduler-zip}}"
  ],
  "healthChecks": [
    {
      "gracePeriodSeconds": 120,
      "intervalSeconds": 30,
      "maxConsecutiveFailures": 0,
      "path": "/admin/healthcheck",
      "portIndex": 0,
      "protocol": "HTTP",
      "timeoutSeconds": 5
    }
  ],
  "readinessChecks": [
      {
        "name": "cassandraUpdateProgress",
        "protocol": "HTTP",
        "path": "/v1/plan",
        "portName": "api",
        "interval": 10000,
        "timeout": 10000,
        "httpStatusCodesForReady": [200],
        "preserveLastResponse": true
      }
  ],
  "upgradeStrategy":{
    "minimumHealthCapacity": 0,
    "maximumOverCapacity": 0
  },
  "portDefinitions": [
    {
      "port": 0,
      "protocol": "tcp",
      "name": "api",
      "labels": {}
    }
  ]
}
